.card-grid{
    display: flex;
}

.card{
    align-content: center;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}

.card img{
    max-width: 100px;
}
